
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>入库管理</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<form class="layui-form"  method="post" id="addSupplier">

    <div class="layui-form-item">
        <label class="layui-form-label">物品类型</label>
        <div class="layui-input-inline">
            <input type="text" name="goodsType" required ="required" lay-verify="required" placeholder="物品类型" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">物品名称</label>
        <div class="layui-input-inline">
            <input type="text" name="goodsName" required ="required" lay-verify="required" placeholder="物品名称" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">物品规格</label>
        <div class="layui-input-inline">
            <input type="text" name="specification" required ="required" lay-verify="required" placeholder="物品规格" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">物品数量</label>
        <div class="layui-input-inline">
            <input type="text" name="goodsNum" required ="required" lay-verify="required" placeholder="物品数量" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">供货商</label>
        <div class="layui-input-inline">
            <select name="supplier" >
                <option value=""></option>
                <option th:each="c:${suppliers}" th:text="${c.supplierName}" th:value="${c.supplierName}"></option>
            </select>
        </div>
    </div>
    <input type="hidden" name="state" value="1"/>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button  class="layui-btn" lay-submit="lay-submit" lay-filter="supplier">立即提交</button>
        </div>
    </div>
</form>
</body>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    layui.use('form', function () {
        var form=layui.form
            ,$ = layui.$;
        //监听提交
        form.on('submit(supplier)', function(data){
            $.ajax({
                url:"/manage/stockManage/stockManage/add",
                type:"post",
                dataType:'json',
                contentType:'application/json;charset=utf-8',
                data:JSON.stringify(data.field),
                success:function (data) {
                    $("#addSupplier")[0].reset();
                    layer.msg(data.message);
                }
            });
            return false;
        });
    });
    /*]]>*/
</script>
</html>
