
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>打印出库单</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>

<table id="print"width="100%" cellspacing="0"  border="1">
    <tr align="center">
        <td align="center" colspan="8">山西兴旺盛轮胎物质有限公司出库单</td>
    </tr>
    <tr>
        <td colspan="5" noWrap="noWrap">业务员：<span th:text="${stockRemovals.get(0).salesman}"></span></td>
        <td colspan="3" noWrap="noWrap">发货方式：<span th:text="${stockRemovals.get(0).despatchMode}"></span></td>
    </tr>
    <tr>
        <td colspan="1">客户：<span th:text="${stockRemovals.get(0).client}"></span></td>
        <td colspan="4">日期：<span th:text="${stockRemovals.get(0).date}"></span></td>
        <td colspan="3">回力部</td>
    </tr>
    <tr style="border:1px solid #000000; ">
        <td colspan="1">货位</td>
        <td>类型</td>
        <td>商品</td>
        <td>单位</td>
        <td>数量</td>
        <td>单价</td>
        <td>结算金额</td>
        <td>备注</td>
    </tr>

    <tr th:each="c:${stockRemovals}">
        <td colspan="1"><span th:text="${c.goodsAllocation}"></span></td>
        <td><span th:text="${c.goodsType}"></span></td>
        <td><span th:text="${c.goodsName}"></span></td>
        <td>条</td>
        <td><span th:text="${c.goodsNum}"></span></td>
        <td><span th:text="${c.price}"></span></td>
        <td><span th:text="${c.money}"></span></td>
        <td><span th:text="${c.remark}"></span></td>
    </tr>
    <tr>
        <td colspan="4">人民币大写合计：</td>
        <td colspan="2">本页数量：</td>
        <td colspan="2">本页金额：</td>
    </tr>
    <tr>
        <td>购方电话：</td>
        <td>地址：</td>
    </tr>
    <tr>
        <td>告方电话：0354-2466566</td>
        <td>地址：晋中开发区三晋国际城19栋3号／5</td>
        <td>合计数量：</td>
        <td>合计金额：</td>
    </tr>
    <tr>
        <td>开票人：</td>
        <td>收款人：</td>
        <td>提货人：</td>
        <td>发货人：</td>
        <td>客户签收：</td>
    </tr>
</table>
<input type="button" onclick="printTable()" value="打印"/>
</body>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    layui.use('form', function () {
        var form=layui.form
            ,$ = layui.$;
        //监听提交
        form.on('submit(supplier)', function(data){
            $.ajax({
                url:"/manage/stockManage/stockManage/add",
                type:"post",
                dataType:'json',
                contentType:'application/json;charset=utf-8',
                data:JSON.stringify(data.field),
                success:function (data) {
                    $("#addSupplier")[0].reset();
                    layer.msg(data.message);
                }
            });
            return false;
        });
    });

    function printTable() {
        // alert(123);
        var tableToPrint = document.getElementById('print');//将要被打印的表格
        var newWin= window.open("");//新打开一个空窗口
        newWin.document.write(tableToPrint.outerHTML);//将表格添加进新的窗口
        newWin.document.close();//在IE浏览器中使用必须添加这一句
        newWin.focus();//在IE浏览器中使用必须添加这一句

        newWin.print();//打印
        newWin.close();//关闭窗口
    }
    /*]]>*/
</script>
</html>
