<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>title</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
    <a class="layui-btn layui-btn-sm" id="add">入库</a>
    <a class="layui-btn layui-btn-sm" id="del">出库</a>

    <table id="repertory" lay-filter="repertory"></table>
    <!--<script type="text/html" id="del">
        <a class="layui-btn  layui-btn-xs" lay-event="del">出库</a>
    </script>-->
    <div id="form" style="display: none">

    </div>

    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:inline="javascript">

    /*<![CDATA[*/
    layui.use(['table','form'], function () {
        var table = layui.table
            , $ = layui.$
            ,form=layui.form;
        //员工
        var userinfos=table.render({
            elem: '#repertory'
            , id: 'repertory'
            , url: 'repertory/list' //数据接口
            , method: 'post'
            ,page: true //开启分页
            , size: 'sm'
            , cols: [[ //表头
                {field: 'goodsType', title: '物品类型', width: '20%', sort: true},
                {field: 'goodsName', title: '物品名称', width: '30%', sort: true}
                ,{field: 'goodsNum', title: '物品数量', width: '10%', sort: true}
                ,{field: 'supplier', title: '供货商', width: '30%', sort: true}
                // ,{field: 'del', title: '出库', width: '10%', sort: true,toolbar:'#del'}
            ]]
        });
        $("#add").click(function(){
            layer.open({
                type: 2
                , title: '入库'
                , area: ['500px', '300px']
                , content: ["repertory/add","no"]
                ,cancel: function(){
                    userinfos.reload();
                }

            })
        });
        $("#del").click(function(){
            layer.open({
                type: 2
                , title: '出库'
                , area: ['730px', '450px']
                , content: ["repertory/out","no"]
                ,cancel: function(){
                    userinfos.reload();
                }

            })
        })

        // table.on('tool(repertory)',function (obj) {
        //     var layEvent = obj.event;
        //     var data = obj.data;
        //     console.log(data);
        //     if(layEvent==='del'){
        //         // layer.confirm("确定删除？",function (index) {
        //             // obj.del();
        //             // layer.close(index);
        //             $.ajax({
        //                 url:"/manage/stockManage/repertory/del",
        //                 type:"post",
        //                 dataType:"json",
        //                 data:{id: JSON.stringify(data.id)},
        //                 success:function (data) {
        //                     layer.message(data.message);
        //                 }
        //             })
        //             window.location.reload();
        //         // })
        //     }
        // })

    });


    /*]]>*/
    </script>
</body>
</html>