
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>修改公司信息</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<form class="layui-form"  method="post" id="updateCompany">

    <div class="layui-form-item">
        <label class="layui-form-label">公司名称</label>
        <div class="layui-input-inline">
            <input type="text" name="companyName" required ="required" lay-verify="required" placeholder="公司名称" autocomplete="off" class="layui-input" th:value="${company.companyName}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">公司电话</label>
        <div class="layui-input-inline">
            <input type="text" name="companyTel" required ="required" lay-verify="required" placeholder="公司电话" autocomplete="off" class="layui-input" th:value="${company.companyTel}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">公司地址</label>
        <div class="layui-input-inline">
            <input type="text" name="companyAddress" required ="required" lay-verify="required" placeholder="公司地址" autocomplete="off" class="layui-input" th:value="${company.companyAddress}"/>
        </div>
    </div>
    <input type="hidden" name="state" value="1"/>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button  class="layui-btn" lay-submit="lay-submit" lay-filter="company">立即提交</button>
        </div>
    </div>
</form>
</body>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    layui.use('form', function () {
        var form=layui.form
            ,$ = layui.$;
        //监听提交
        form.on('submit(company)', function(data){
            $.ajax({
                url:"update",
                type:"post",
                dataType:'json',
                contentType:'application/json;charset=utf-8',
                data:JSON.stringify(data.field),
                success:function (data) {
                    $("#updateCompany")[0].reset();
                    layer.msg(data.message);
                }
            });
            return false;
        });
    });
    /*]]>*/
</script>
</html>
